<launch>
    <arg name="robot_name" value="AKM_1"/>
    <arg name="world_name" value="$(find uav_sim)/world/car_arena1.world"/>
    <arg name="paused" default="false"/>
    <arg name="use_sim_time" default="true"/>
    <arg name="gui" default="true"/>
    <arg name="headless" default="false"/>
    <arg name="debug" default="false"/>
    <arg name="x_pos" default="4"/>
    <arg name="y_pos" default="1"/>
    <arg name="z_pos" default="0"/>
    <arg name="yaw_pos" default="1.5707963267948966"/>
    <arg name="visualization" default="false"/>
    <arg name="uav_x" default="1" />
    <arg name="uav_y" default="1" />
    <arg name="uav_z" default="0.1" />
    <arg name="uav_R" default="0" />
    <arg name="uav_P" default="0" />
    <arg name="uav_Y" default="1.5707963267948966" />

    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="world_name" value="$(arg world_name)" />
        <arg name="debug" value="$(arg debug)" />
        <arg name="gui" value="$(arg gui)" />
        <arg name="paused" value="$(arg paused)"/>
        <arg name="use_sim_time" value="$(arg use_sim_time)"/>
        <arg name="headless" value="$(arg headless)"/>
    </include>

    <group ns="$(arg robot_name)">
        <param name="robot_description" command="$(find xacro)/xacro --inorder '$(find racebot_description)/urdf/mini_akm/mini_akm.xacro'"/>
        <node name="urdf_spawner" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen"
                args="-urdf -model $(arg robot_name) -param robot_description -x $(arg x_pos) -y $(arg y_pos) -z $(arg z_pos) -Y $(arg yaw_pos)"/> 
        <include file="$(find racebot_control)/launch/racebot_control.launch">
                <arg name="robot_name" value="$(arg robot_name)"/>
        </include>
    </group>
    <node name="rviz" pkg="rviz" type="rviz"  args="-d $(find racebot_gazebo)/rviz/racebot.rviz">
        <remap from="/move_base_simple/goal" to="/$(arg robot_name)/move_base_simple/goal"/>
        <remap from="/initialpose" to="/$(arg robot_name)/initialpose"/>
        <remap from="/clicked_point" to="/$(arg robot_name)/clicked_point"/>
    </node>
</launch>
